[workspace]
members = [".", "typed-arrow-derive"]
package.readme = "README.md"
package.repository = "https://github.com/tonbo-io/typed-arrow"
package.license = "Apache-2.0"
package.version = "0.1.0"
package.edition = "2021"

[package]
name = "typed-arrow"
version = { workspace = true }
edition = { workspace = true }
description = "Compile-time Arrow schemas for Rust."
license = { workspace = true }
readme = { workspace = true }
resolver = "2"
repository = { workspace = true }

[lib]
name = "typed_arrow"
path = "src/lib.rs"

[features]
default = ["derive"]
derive = ["dep:typed-arrow-derive"]

[dependencies]
typed-arrow-derive = { path = "typed-arrow-derive", version = "0.1.0", optional = true, package = "typed-arrow-derive" }
arrow-array = { version = "56" }
arrow-schema = { version = "56" }
arrow-buffer = { version = "56" }
half = "2"
